

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'open sans', sans-serif;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #e02407;
}


header {
  background-color: #e53935;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


nav .nav-row {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav .nav-row a {
  display: inline-block;
  margin-right: 20px;
}

nav .nav-row a {
  text-decoration: none;
  color: #ff6347;
  margin-right: 20px;
}

main{
  flex: 1;
  padding: 20px;
}
#boxing-career{
  background-color: #B4B0E1;
  padding: 20px;
  border-radius: 5px;
}
#boxing-career h2{
  color: #DE50b8;
  font-family: 'roboto', sans-serif;
}

section {
  background-color: #B4B0E1;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

section h2 {
  color: #DE50B8;
  font-family: 'roboto', sans-serif;
}


#image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}


footer {
  background-color: #DE7C50;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;

}
